#feedback{
    width: 800px;
    overflow: hidden;
    height: 37px;
    border-radius: 6px;
}

.issueFeedback{
    margin-top: 30px;
    display: flex;
    gap: 18px;
    margin-left: 260px;
}

.b1{
    margin-top: 60px;
}

.card{
    margin-top: 40px;
    margin-left: 260px;
    width: 1200px;
}

:host ::ng-deep .p-button{
    background-color: aliceblue;
    color: black;
}
