#feedback{
    width: 800px;
    overflow: hidden;
    height: 37px;
    border-radius: 6px;
}

.issueFeedback{
    margin-top: 30px;
    display: flex;
    gap: 18px;
}

.b1{
    margin-top: 60px;
}

.card{
    margin-top: 40px;
}

