<div class="parent">
    <div class="buttons">
        <p-button label="Edit Profile" icon="pi pi-pen-to-square"/>
        <p-button label="Change Password" icon="pi pi-lock"/>
        <p-button label="Delete Profile" icon="pi pi-trash"/>
    </div>
    
    <div class="container">
        <div class="profile">
            <div class="firstname">
              <label for="firstname">Firstname</label>
              <div class="detail">
        
              </div>
            </div>
            <div class="lastname">
              <label for="lastname">Lastname</label>
              <div class="detail">
                
              </div>
            </div>
            <div class="middlename">
              <label for="middlename">Middlename</label>
              <div class="detail">
                
              </div>
            </div>
            <div class="mobile">
              <label for="mobile">Mobile Number</label>
              <div class="detail">
                
              </div>
            </div>
            <div class="email">
              <label for="email">Email</label>
              <div class="edetail">
                
              </div>
            </div>
            </div>
    </div>
</div>
