<div class="parent">
  <div class="buttons">
    <p-button
      pTooltip="Edit Profile"
      icon="pi pi-pen-to-square"
      (onClick)="showDialog()"
    />
    <p-button
      pTooltip="Change Password"
      severity="danger"
      icon="pi pi-lock"
      (onClick)="showDialogChangePassword()"
    />
    <p-button
      pTooltip="Delete Profile"
      severity="danger"
      icon="pi pi-trash"
      (onClick)="showDialogDeleteProfile()"
    />
  </div>

  <div class="heading">
    <h1>My Profile</h1>
  </div>
  <div class="container">
    <div class="profile">
      <div class="firstname">
        <label for="firstname">First name</label>
        <div class="detail">
          {{ userDetails.data.first_name }}
        </div>
      </div>
      <div class="lastname">
        <label for="lastname">Last name</label>
        <div class="detail">
          {{ userDetails.data.last_name }}
        </div>
      </div>
      <div class="middlename">
        <label for="middlename">Middle name</label>
        <div class="detail">
          {{ userDetails.data.middle_name }}
        </div>
      </div>
      <div class="mobile">
        <label for="mobile">Mobile Number</label>
        <div class="detail">
          {{ userDetails.data.mobile_number }}
        </div>
      </div>
      <div class="email">
        <label for="email">Email</label>
        <div class="edetail">
          {{ userDetails.data.email }}
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Update Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Enter the details</span>
  <br /><br />
  <div class="test">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="firstname"
        [(ngModel)]="firstname"
        autocomplete="off"
      />
      <label for="firstname">First name</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input
        pInputText
        id="middlename"
        [(ngModel)]="middlename"
        autocomplete="off"
      />
      <label for="middlename">Middle name</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input
        pInputText
        id="lastname"
        [(ngModel)]="lastname"
        autocomplete="off"
      />
      <label for="lastname">Last name</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input pInputText id="mobile" [(ngModel)]="mobile" autocomplete="off" />
      <label for="mobile">Mobile Number</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input pInputText id="email" [(ngModel)]="email" autocomplete="off" />
      <label for="email">Email</label>
    </p-floatlabel>
  </div>
  <br /><br />
  <div class="buttons1">
    <p-button
      label="Cancel"
      severity="contrast"
      (onClick)="hideDialog()"
    ></p-button>
    <p-button [disabled]="!email && !mobile && !lastname && !middlename && !firstname" label="Update" (onClick)="updateProfile()"></p-button>
  </div>
</p-dialog>

<p-dialog
  header="Update Profile"
  [modal]="true"
  [(visible)]="visibleChangePassword"
  [style]="{ width: '25rem' }"
>
  <br />
  <div class="test">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="oldPassword"
        type="password"
        [(ngModel)]="oldpassword"
        autocomplete="off"
      />
      <label for="firstname">Old Password</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input
        pInputText
        id="newPassword"
        type="password"
        [(ngModel)]="newpassword"
        autocomplete="off"
      />
      <label for="middlename">New Password</label>
    </p-floatlabel>
    <br />
    <p-floatlabel variant="on">
      <input
        pInputText
        id="confirmPassword"
        type="password"
        [(ngModel)]="confirmpassword"
        autocomplete="off"
      />
      <label for="lastname">Confirm Password</label>
    </p-floatlabel>
    <br />
  </div>
  <br /><br />
  <div class="buttons1">
    <p-button
      label="Cancel"
      severity="contrast"
      (onClick)="hideDialogChangePassword()"
    ></p-button>
    <p-button [disabled]="!oldpassword || !newpassword || !confirmpassword || newpassword != confirmpassword" label="Update" (onClick)="updatePassword()"></p-button>
  </div>
</p-dialog>

<p-dialog
  header="Delete Profile"
  [modal]="true"
  [(visible)]="visibleDeleteProfile"
  [style]="{ width: '25rem' }"
>
  <br />
  <div class="test">
    <p>Are you sure you want to delete your profile?</p>
  </div>
  <br /><br />
  <div class="buttons1">
    <p-button
      label="No"
      severity="contrast"
      (onClick)="hideDialogDeleteProfile()"
    ></p-button>
    <p-button label="Yes" (onClick)="deleteProfile()"></p-button>
  </div>
</p-dialog>

@if (isFetching()) {
<app-loader></app-loader>
}
