// $background-theme: aliceblue;
// $danger-color: red;
// $left-space: 260px;
// $background-sidebar: #f8f9fa;
// $curve: 6px;
$table-width1: 82%;

@import "../../../shared/variables.scss";

.users{
    display: flex;
    gap: 4px;
    gap: 123px;
    margin-left: $left-space;
}

.residents, .officers{
    margin-top: 70px;
    border: 1px solid $background-theme;
    border-radius: $curve;
    background-color: $background-theme;
    width: 34%;
    height: 80px;
}

h3{
    margin-left: 4px;
    margin-top: 25px;
}

.page-wrapper{
    margin-left: $left-space;
    width: $table-width1;
}