// $background-theme: aliceblue;
// $danger-color: red;
// $left-space: 260px;
// $background-sidebar: #f8f9fa;
// $curve: 6px;
// $table-width: 1200px;

@import "../shared/variables.scss";

.sidebar {
  width: 250px;
  height: 603px;
  background: $background-sidebar;
  position: fixed;
  left: 0;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

h3{
    margin-left: 6px;
}

.dashboard-content{
    overflow: auto;
    width: 1272px;
    height: 602px;
    margin-left: 245px;
}

