// $background-theme: aliceblue;
// $danger-color: red;
// $left-space: 260px;
// $background-sidebar: #f8f9fa;
// $curve: 6px;
// $table-width: 1200px;

@import "../../../shared/variables.scss";

.filter-requests{
    margin-top: 60px;
    width: fit-content;
    height: 200px;
    border-radius: $curve;
    padding: 2%;
    background-color: $background-theme;
    margin-left: $left-space;
}

.bar{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.card{
    margin-left: $left-space;
    width: $table-width;
}