.heading{
    border: 1px solid aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    width: 1200px;
    margin-left: 260px;
    margin-top: 40px;
}

.service-status{
    display: flex;
    gap: 123px;
    margin-left: 260px;
}

.people{
    display: flex;
    gap: 123px;
    margin-left: 260px;
}

.pending{
    border: 1px solid aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    width: 34%;
}

.approved{
    border: 1px solid aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    width: 34%;
}

.residents{
    margin-top: 70px;
    border: 1px solid aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    width: 34%;
}

.officers{
    margin-top: 70px;
    border: 1px solid aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    width: 34%;
}
h5{
    margin-left: 6px;
}
h3{
    margin-left: 6px;
}

