<!-- <app-login-signup></app-login-signup> -->



<!-- <app-dashboard></app-dashboard> -->

<!-- <app-service-requests></app-service-requests> -->

<!-- <app-user-management></app-user-management> -->

<!-- <app-feedback></app-feedback> -->

<!-- <app-invoice></app-invoice> -->

<!-- <app-notice></app-notice> -->

<!-- <app-profile></app-profile> -->

<!-- <app-loader></app-loader> -->
<router-outlet></router-outlet>

<!-- <app-layout></app-layout> -->

<!-- <app-access-denied></app-access-denied> -->