// $background-theme: aliceblue;
// $danger-color: red;
// $left-space: 260px;
// $background-sidebar: #f8f9fa;
// $curve: 6px;
// $table-width: 1200px;

@import "../../../shared/variables.scss";

.requests{
    display: flex;
    gap: 48px;
    margin-left: $left-space;
    margin-top: 40px;
}


.total, .approved, .pending{
    border: 1px solid $background-theme;
    border-radius: $curve;
    background-color: $background-theme;
    width: 25%;
    height: 90px;
}

h3{
    margin-left: 4px;
    margin-top: 30px;
}

.filter-requests{
    margin-top: 60px;
    margin-left: $left-space;
    width: fit-content;
    height: 160px;
    border-radius: $curve;
    padding: 2%;
    background-color: $background-theme;
}

.bar{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.table{
    margin-left: $left-space;
    width: $table-width;
}
