<div class="requests">
  <div class="total">
    <div class="label">
      <h3>Total Requests</h3>
    </div>
    <div class="total-count">
      <p-avatar label="{{totalRequestCount}}" class="mr-1" size="large" id="label" />
    </div>
  </div>
  <div class="pending">
    <div class="label">
      <h3>Pending Requests</h3>
    </div>
    <div class="pending-count">
      <p-avatar label="{{pendingRequestCount}}" class="mr-1" size="large" id="label" />
    </div>
  </div>
  <div class="approved">
    <div class="label">
      <h3>Approved Requests</h3>
    </div>
    <div class="approved-count">
      <p-avatar label="{{approvedRequestCount}}" class="mr-1" size="large" id="label" />
    </div>
  </div>
</div>

<div class="filter-requests">
  <p><b>Filter Requests</b></p>
  <div class="bar">
    <p-autocomplete
      [(ngModel)]="selectedService"
      [virtualScroll]="true"
      [suggestions]="filteredService"
      [virtualScrollItemSize]="34"
      (completeMethod)="filterService($event)"
      optionLabel="label"
      [dropdown]="true"
      placeholder="Service Type"
      forceSelection="true"
    />
    <p-autocomplete
      [(ngModel)]="selectedStatus"
      [virtualScroll]="true"
      [suggestions]="filteredStatus"
      [virtualScrollItemSize]="34"
      (completeMethod)="filterStatus($event)"
      optionLabel="label"
      [dropdown]="true"
      placeholder="Status"
      forceSelection="true"
    />
    <p-button pTooltip="Search Requests" icon="pi pi-search" />
    @if (isResident) {
      <p-button pTooltip="Issue Request" icon="pi pi-plus"/>
    }
  </div>
</div>

<br />
<div class="table">
  <p-table
    *ngIf="allRequestData?.length > 0; else noRequest"
    [value]="allRequestData"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th>Flat</th>
        <th>Status</th>
        <th>Time Slot</th>
        <th>Service Type</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-data>
      <tr>
        <td>{{data.flat}}</td>
        <td>{{data.status}}</td>
        <td>{{data.time_slot}}</td>
        <td>{{data.service_type}}</td>
        @if (isResident) {
        <td>
          <div class="actions">
            <p-button
              pTooltip="Reschedule Request"
              icon="pi pi-stopwatch"
            ></p-button>
            <p-button
              pTooltip="Cancel Request"
              icon="pi pi-trash"
              severity="danger"
            ></p-button>
          </div>
        </td>
        }@else {
        <td>
          <p-button pTooltip="Approve Request" icon="pi pi-check"></p-button>
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
  <ng-template #noRequest>
    <p>No Requests for now</p>
  </ng-template>
</div>

@if (isFetching()) {
<app-loader></app-loader>
}